body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1 { 
    color: white;
    background-color: darkgray;
    border: 1px solid black;
    width: 350px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;

}
li {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 10px;
    width: 250px;
    border: 1px solid black;
}
ul .one { 
    background-color: lightgray;
        
}
ul .two { 
    background-color: darkgray;;
}
ul .three { 
    background-color: rgb(124, 123, 123)

}
